# Visual Studio
.vs/
*.user
*.vcxproj.user
*.suo
*.sln.docstates
*.VC.db
*.VC.opendb

# Build output
x64/
x86/
Debug/
Release/
[Dd]ebug/
[Rr]elease/
*.obj
*.pdb
*.ilk
*.exp
*.idb
*.ipdb
*.iobj
*.log
*.tlog
*.lastbuildstate
*.recipe

# Intermediate project folders
ConsoleF.e505bbcd/
_toolset_test/

# CMake
build/
cmake-build-*/
CMakeCache.txt
CMakeFiles/
cmake_install.cmake
Makefile
compile_commands.json
